* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#maze-container {
    width: 250px;
    height: 250px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;

}

#level-header {
    flex-basis: 100%;
    height: 30px;
}

#form-section {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 250px;
}

#maze-section {
    margin: 10px;
}
#control-buttons{
    display: none;
}
input {
    flex-basis: 100%;
}

label {
    display: inline-block;
    min-width: 40px;
    text-align: right;
}

.input-div {
    margin: 10px;
    width: 100%;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
}

#player {
    width: 10px;
    height: 20px;
}

.error {
    width: 100%;
    background-color: crimson;
    border: 1px solid darkred;
    color: white;
    padding: 5px;
    font-size: 80%;
    margin-top: 5px;
    border-radius: 3px;
}
